---
import { Button } from "./ui/button";
---

<section class="h-screen container mx-auto">
  <div
    class="w-full h-full flex flex-col justify-center items-center max-w-[335px] md:max-w-[768px] mx-auto gap-6"
  >
    <h1
      class="text-[2.5rem] md:text-[3.5rem] text-center font-bold md:leading-16 leading-10"
    >
      Transforming Ideas into Intelligent Solutions
    </h1>
    <p class="text-center text-xl leading-6 font-normal">
      As a full-stack software engineer, I specialize in integrating AI to
      create scalable applications that enhance user experience. Let’s
      collaborate to turn your vision into a powerful, data-driven reality.
    </p>
    <Button size="lg"> Contact </Button>
  </div>
</section>
