---
import TabFeatures from "@/components/features/TabFeatures";
---

<section id="feature" class="min-h-screen container mx-auto flex flex-col pt-18 px-5 md:px-0">
  <div
    class="w-full flex flex-col max-w-[335px] md:max-w-[768px] mx-auto gap-6 pb-8"
  >
    <h2
      class="text-[2.25rem] md:text-[3rem] text-center font-bold md:leading-16 leading-10"
    >
      Principal Projects
    </h2>
    <p class="text-center text-lg leading-6 font-normal">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
  </div>
  <TabFeatures client:load />
</section>
